@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
}
html,
body {
    overflow: auto !important;
}

.Toastify .Toastify__toast-body {
    font-family: var(--font-bricolage) !important;
    font-weight: 400 !important;
    letter-spacing: -0.4px;
    font-size: 0.85rem;
}

.spin svg {
    -webkit-animation: spin-animation 0.7s infinite linear;
    animation: spin-animation 0.7s infinite linear;
}

/* CSS Animations */
@-webkit-keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin-animation {
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
